/* header.component.css */
@media screen and (max-width: 576px) {
    .p-menubar {
      display: block !important;
    }
  }

  .logo-img {
    width: 100px; /* Adjust the width of the logo as needed */
    margin-right: 20px; /* Adjust the margin as needed */
  }

  /* header.component.css */

/* Apply the color scheme to the menu bar */
.p-menubar {
    background-color: #34495e; /* Set the background color */
  }
  
  /* Adjust the text color for better contrast */
  .p-menuitem-text {
    color: #ecf0f1; /* Set the text color */
  }
  
  /* Highlight effect on hover */
  .p-menuitem-link:hover {
    background-color: #2c3e50; /* Darken the background color on hover */
  }
  
  
  