@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "assets/layout/styles/layout/layout.scss"; 

/* home.component.css */

.home-container {
    position: relative;
    height: 100vh; /* Full viewport height */
    background: url('assets/layout/images/savings-bg.jpg') no-repeat center center fixed;
    //background-size: 100px 100px; /* Smaller logo */
    width: 100%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white; /* Text color */
    font-family: Arial, sans-serif;
    border-radius: inherit;
  }
  
  .overlay {
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    padding: 20px;
    border-radius: 10px;
    text-align: center;
  }
  
  h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  
  p {
    font-size: 1.5rem;
  }

  .elementor-heading-title{
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 300;
    line-height: 1.67em;
    letter-spacing: 0.1px;
  }
